In [1]:
ls = []
for i in range(10):
    ls.append(i)
ls

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
ls = [x**2 for x in range(1, 11)]
ls

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [59]:
fruits = ['apple', 'banana', 'orange', 'pineapple']
len_of_fruits = [ len(name) for name in fruits]
len_of_fruits

[5, 6, 6, 9]

In [9]:
dt = {name:len(name) for name in fruits}
dt

{'apple': 5, 'banana': 6, 'orange': 6, 'pineapple': 9}

In [10]:
ls = [i for i in range(10) if i % 2 ==0]
ls

[0, 2, 4, 6, 8]

In [25]:
ls = []
for i in range(5):
    for j in range(i):
        ls.append((i,j))
ls

[(1, 0),
 (2, 0),
 (2, 1),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3)]

In [26]:
ls = [(i, j) for i in range(5) for j in range(i)]
ls

[(1, 0),
 (2, 0),
 (2, 1),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3)]

In [102]:
ls1 = ['a', 'b', 'c', 'd', 'e']
ls2 = [1, 2, 3, 4, 5]
list(zip(ls1, ls2))

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]

In [31]:
for x, y in zip(ls2, ls1):
    print(x, y)

1 a
2 b
3 c
4 d
5 e

In [32]:
txt = "Salom"
for i in range(len(txt)):
    print(i+1, txt[i])

1 S
2 a
3 l
4 o
5 m

In [34]:
for x, y in enumerate(txt):
    print(x+1, y)

1 S
2 a
3 l
4 o
5 m

Random and Math

In [1]:
import math

In [4]:
import random

In [17]:
random.random()

0.6513131171140456

In [25]:
random.randrange(15)

9

In [57]:
random.randint(0, 15)

5

In [66]:
random.choice(fruits)

'pineapple'

In [92]:
random.sample(fruits, k=2)

['apple', 'pineapple']

In [96]:
random.shuffle(fruits)
fruits

['apple', 'orange', 'pineapple', 'banana']

Function

In [97]:
def fib(n):
    a, b = 0, 1
    while a < n:
        print(a, end=" ")
        a, b = b, a+b
    print()

fib(7)

0 1 1 2 3 5

In [98]:
def add(a, b):
    res = a + b
    return res
natija = add(4, 7)    
print(natija)

11

Lambda function

In [101]:
add = lambda a, b: a+b
add(5,11)

16

Map

In [106]:
ls1 = ['1', '2', '3', '4']
list(map(int, ls1))

# Map syntax:
# map(funtion name without parenthesis no(), 
#     possible values for function for each iteration)

[1, 2, 3, 4]

In [107]:
numbers = list(map(int, input("Sonlarni kiriting: ").split()))
print(numbers)

[1, 5, 7, 9, 6]

In [111]:
numbers = list(map(int, input("Sonlarni kiriting: ").split()))
numbers = list(filter(lambda x: x>5, numbers ))
print(numbers)

[6]

ValueError: '192.00.15.158' does not appear to be an IPv4 or IPv6 address