In [1]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
import pyspark.sql.types as T
from pyspark.sql.window import Window as W

spark = SparkSession.builder.appName('Puzzle').getOrCreate()

In [2]:
# ID,EmpName,EmpDate
schema = T.StructType(
    [
        T.StructField('ID', T.IntegerType(), True),
        T.StructField('EmpName', T.StringType(), True),
        T.StructField('EmpDate', T.DateType(), True)
    ]
)

In [3]:
df = spark.read.csv('data/puzzle_033.csv', header=True, schema=schema, dateFormat='dd-MM-yyyy')
df.show()

+---+-------+----------+
| ID|EmpName|   EmpDate|
+---+-------+----------+
|  1|  Pawan|2014-01-05|
|  1|  Pawan|2014-03-05|
|  1|  Pawan|2014-02-05|
|  4|Manisha|2014-07-05|
|  5|Sharlee|2014-09-05|
|  6|  Barry|2014-02-05|
|  7|  Jyoti|2014-04-05|
|  7|  Jyoti|2014-05-05|
+---+-------+----------+

In [7]:
df.withColumn('Rn',
        F.row_number().over(W.partitionBy(F.col('EmpName')).orderBy(F.col('Empdate')))
).where(F.col('Rn')>1).groupBy('EmpName').agg(F.max('RN').alias('Count')).show()

+-------+-----+
|EmpName|Count|
+-------+-----+
|  Jyoti|    2|
|  Pawan|    3|
+-------+-----+